<footer id="contact" class="footer-area">
    <div class="footer-inner  pt-5 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 fw-bold fs-6">
                    <div class="footer-widget widget">
                        <div class="logo">
<<<<<<< HEAD
                            <img src="../assets/image/category/1.png" alt="img">
=======
                            <img src="/assets/image/category/1.png" alt="img">
>>>>>>> menu-item-routes
                            <span class="h4 ms-2">DDS_FOOD </span>
                        </div>
                        <ul class="contact_info_list text-muted">
                            <li class="single-info-item">
<<<<<<< HEAD
                                <img src="../assets/image/home-2/icon/map-marker.png" alt="icon">
=======
                                <img src="/assets/image/home-2/icon/map-marker.png" alt="icon">
>>>>>>> menu-item-routes
                                <div class="details">
                                    4920 Trails End Road Ft United States, FL 33311
                                </div>
                            </li>
                            <li class="single-info-item">
<<<<<<< HEAD
                                <img src="../assets/image/home-2/icon/calendar.png" alt="icon">
=======
                                <img src="/assets/image/home-2/icon/calendar.png" alt="icon">
>>>>>>> menu-item-routes
                                <div class="details">
                                    ordernow@ddsFood.com
                                </div>
                            </li>
                            <li class="single-info-item">
<<<<<<< HEAD
                                <img src="../assets/image/home-2/icon/phone-2.png" alt="icon">
=======
                                <img src="/assets/image/home-2/icon/phone-2.png" alt="icon">
>>>>>>> menu-item-routes
                                <div class="details">
                                    +997 509 153 849
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="footer-widget widget">
                        <span class="h4">Opening Hours</span>
                        <ul class="opening-hours-list d-grid gap-4 pt-5 text-muted fw-bold fs-6">
                            <li>Monday : 09.00am-10.00pm</li>
                            <li>Tuesday : 09.00am-10.00pm</li>
                            <li>Wednesday : 09.00am-10.00pm</li>
                            <li>Thursday : 09.00am-10.00pm</li>
                            <li>Friday : 09.00am-10.00pm <span style="color: red">Closed</span></li>
                            <li>Saturday & Sunday : 09.00am-12.00pm</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="align-items-center mt-3 d-flex justify-content-between">
                <div class=" text-md-start text-center">
                    <div class="copyright-area">
                        <p>© 2022 DDS_FOOD. All Rights Reserved By <a style="color: red"
                                                                      href="https://github.com/Enired/dds-food/">dds_food</a>
                        </p>
                        </p>
                    </div>
                </div>
                <div class="">
                    <ul class="social-area text-md-end text-center mt-2 d-flex justify-content-end">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
